<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <!-- Link to the external Stylesheet files -->
    <link rel="stylesheet" type="text/css" href="../style/homepage.css">
    <link rel="stylesheet" type="text/css" href="../style/contact.css">

    <!-- Link to the external JavaScript files -->
    <script src="../scripts/contact.js" defer></script>
    <script src="../scripts/footer.js" defer></script>
</head>
<body>
<header>
    <img src="../assets/kamview1.jpg" id="kamview" alt="Beautiful Kamloops Landscape">
</header>

<nav>
    <ul>
        <li><a href="index.html">Discover</a></li>
        <li><a href="things-to-do.html">Things to Do</a></li>
        <li><a href="where-to-eat.Html">Things to Eat</a></li>
        <li><a href="where-to-stay.htm">Where to Stay</a></li>
        <li><a href="general-info.html">General Info</a></li>
        <li><a class="highlighted" href="contact.html">Contact Us</a></li>
    </ul>
</nav>

<section id="contact-us">
    <h2 style="color: #78aba8"> Contact Us! </h2>

    <p>Thank you for visiting our Kamloops website! We are committed to providing you with comprehensive information about all the amazing attractions, activities, and resources our beautiful city has to offer. If you have any questions, suggestions, or need further assistance, please don't hesitate to reach out. Our dedicated team is here to help you make the most of your Kamloops experience. We look forward to hearing from you!</p>

    <form id="contact-us-form">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject"><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

        <p id="contact-us-error"></p>
        <input type="submit" value="Submit">
    </form>
</section>
</body>
<footer>
    <div class="footer-links">
        <a href="index.html">Home</a>
    </div>
    <div class="footer-info">
        <p class="footer-info__last-updated">Website last updated: <span id="footer-info__last-updated-date"></span></p>
    </div>
</footer>
</html>


