<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Kamloops</title>
    <link rel="stylesheet" type="text/css" href="../style/homepage.css">
    <link rel="stylesheet" type="text/css" href="../style/discover.css">
</head>
<body>
    <header>
        <img src="../assets/kamview1.jpg" id="kamview" alt="Beautiful Kamloops Landscape">
    </header>

    <nav>
        <ul>
            <li><a class="highlighted" href="discover.html">Discover</a></li>
            <li><a href="things-to-do.html">Things to Do</a></li>
            <li><a href="#things-to-eat">Things to Eat</a></li>
            <li><a href="#where-to-stay">Where to Stay</a></li>
            <li><a href="#general-info">General Info</a></li>
        </ul>
    </nav>

    <section id="things-to-do">
        <h1 style="color: #78aba8"> Things to do in Kamloops </h1>
        <h3>Kamloops, BC, is a vibrant city with a variety of activities for everyone to enjoy! Whether you're an outdoor enthusiast or someone who enjoys cultural experiences, Kamloops has something for you</h3>

        <div class="image-container">

        </div>
        <div class="content-container">

            <p>Cats, on the other hand, are known for their grace and independence. These agile predators have been companions to humans for thousands of years, revered in ancient cultures and adored in modern households. With their keen senses and playful nature, cats bring joy and comfort to many.</p>
            <p>Despite their differences, both pandas and cats capture the hearts of people everywhere with their unique charm and personalities. Whether it's the panda's endearing clumsiness or the cat's mysterious allure, these animals remind us of the beauty and wonder of the natural world.</p>
        </div>
</section>
</body>
<footer>
    <a href="index.html">Home</a>
</footer>
</html>


