<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie Picks - Experience Kamloops</title>
    <link rel="stylesheet" href="../style/foodstyles.css">

    <script src="../scripts/footer.js" defer></script>
</head>
<body>
    <header>
            <h1 id="h11"> Experience Kamloops </h1>
            <h1 id="h12"> Savor the Flavor: Where to Dine </h1>

            <nav id="main">
                <ul id="horizontal">
                    <li><a href="index.html">Experience Kamloops</a></li>
                    <li><a href="thingstodo.html">Things to do </a></li>
                    <li><a href="foodiepicks.html">Foodie Picks</a></li>
                    <li><a href="wheretostay.html">Where to Stay</a></li>
                    <li><a href="generalinfo.html">General Info</a></li>
                    <li><a href="itinerary.html">Itinerary</a></li>
                </ul>
            </nav>

            <nav id="local">
                <ol>
                    <li><a href="#restaurant1">Brownstone</a></li>
                    <li><a href="#restaurant2">Underbelly by the Pig</a></li>
                    <li><a href="#restaurant3">Hello Toast</a></li>
                    <li><a href="#restaurant4">On the Rocks</a></li>
                    <li><a href="#restaurant5">Sandbar Grill</a></li>
                    <li><a href="#restaurant6">5Bean Brewbar</a></li>
                    <li><a href="#restaurant7">The Art We are</a></li>
                    <li><a href="#restaurant8">XPress Chef</a></li>
                    <li><a href="#restaurant9">The Noble Pig Brewhouse</a></li>
                </ol>
            </nav>
        
    </header>
    
    <section id="restaurant1">
      <div class="textblock"><h2> Brownstone restaurant </h2>
      <p>A blend of tradition and innovation <br> With rustic breads, cheeses and 
        charcuterie made in house, herbs and salad greens grown on-site on our 
        gorgeous garden courtyard, it really doesn’t get much more local than that! 
        Our seasonally changing menus bring the very best BC products to your plate 
        in exciting new ways. Since 2004 we have proudly partnered with local producers
         such as: Silver Springs Organic Farm, Ted's Trout, Fox Creek Farm, West End 
         Tiny Farm, among many, many others</p></div>
         <button class="moreinfo"><a href="https://www.brownstone-restaurant.com"> Dive Into...</a></button>
         <div class="imgblock"><img src="../assets/brownstone.jpg" alt="Brownstone Restaurant"></div>
         
    </section>

    <section id="restaurant2" >
        <div class="textblock"><h2> Underbelly by the Pig </h2>
        <p>
            Underbelly
            THE OTHER SIDE OF THE PIG
            
            Underbelly is a locally owned and operated modern casual restaurant in 
            the heart of downtown Kamloops. We feature seasonally influenced Mediterranean
             cuisine that pair with our craft cocktails, local wines and inspired brews. 
             Focusing on quality ingredients and beverages that are sourced locally whenever
              possible, it is our goal to create a quality dining experience for the senses.</p></div>
              <button class="moreinfo"> <a href="https://underbellybythepig.ca">Dive Into...</a></button>
              <div class="imgblock"><img src="../assets/underbelly.png" alt="Underbelly by the pig"></div>
    </section>

    <section id="restaurant3">
        <div class="textblock"><h2> Hello Toast </h2>
     <p>Hello toast is our funky, bustling breakfast and lunch restaurant in downtown Kamloops.
        We’ve been a part of the Kamloops community for over 20 years. Run by super good friends
         and family, we pride ourselves on being a place that people come to gather, eat and be happy!
        Join us seven days a week for a sweet or savory all day breakfast or for one of our delicious 
        home created, home cooked lunch plates.
        Our chef sources local meats and produce whenever possible to bring you the best quality ingredients.
        Hello toast is your source of good times, deliciousness and amazing service!</p></div>
        <button class="moreinfo"> <a href="https://hellotoast.ca">Dive Into...</a></button>
        <div class="imgblock"><img src="../assets/hello toast.jpg" alt="Hello Toast"></div>
    </section>

    <section id="restaurant4">
        <div class="textblock"> <h2>On the Rocks</h2>
      <p>On The Rocks is the Local Favourite destination serving the best food and drinks with
         welcoming smiles! Come on in! It’s Always Better On The Rocks!
        We showcase all of the BIG Sporting Events on our Big Screen TVs and we also house 
        exclusive LIVE Music performances!
        Our kitchen is dedicated to creating the best pub fare in Kamloops. We offer an 
        extensive menu ranging from  Maple-Glazed Salmon to AAA Prime Sterling  Silver 
        Sirloin to the popular Rocks Italian Salad!
        On tap or bottled, we have a wide variety of beers and lagers from around the world. 
        Dark, light, or amber, whatever your pleasure. Special orders also available.
        Visit us today to learn what makes On The Rocks a Kamloops favourite pub & grill!</p></div>
        <button class="moreinfo"><a href="https://www.ontherockspub.ca"> Dive Into...</a></button>
        <div class="imgblock"> <img src="../assets/ontherocks.jpg" alt="On the Rocks">         
    </section>

    <section id="restaurant5">
        <div class="textblock"><h2>Sandbar Grill</h2>
     <p>The Sandbar Grill in Kamloops BC is owned by Karleen Robbie and Jim Bigham, long term
         locals. The setting for this 75-seat restaurant boasts a spectacular view overlooking 
         the Thompson River. The Riverside Patio also accommodates 75 people (150 in total), 
         and is the perfect location to host your private functions. Our building is newly 
         renovated, clean, and comfortable, with a fun loving lighthearted atmosphere.
        At Sandbar Grill, we take great pleasure to purchase the highest quality, locally 
        produced foods and beverages, so we can pass all that great taste on to you – our customers!</p></div>
        <button class="moreinfo"><a href="https://www.sandbargrill.ca/"> Dive Into...</a></button>
        <div class="imgblock"><img src="../assets/sandbar.jpg" alt="Sandbar Grill"> </div>
    </section>

    <section id="restaurant6">
        <div class="textblock"><h2>5Bean Brewbar</h2>
        <p>Locally owned, showcasing a unique coffee experience in Kamloops, along with fresh baking, 
            lunch and desserts.</p></div>
            <button class="moreinfo"><a href="https://5bean.ca"> Dive Into...</a></button>
            <div class="imgblock"><img src="../assets/5bean.jpg" alt="5Bean Brewbar"> </div>
    </section>

    <section id="restaurant7">
        <div class="textblock"><h2> The Art We Are</h2>
        <p>This funky cafe serves up a variety of vegan, vegetarian and gluten-free options. 
            As a small business, we understand how important it is to have the support of our local 
            community; as such, we do our utmost to source our needs from other local, or British 
            Columbia based, businesses. We shop for most of our daily produce at Fratellis across 
            the street; during the summer we get the lettuce for our wraps from Deadman’s Valley 
            Organic Farm; we brew Kicking Horse Organic Coffee from Invermere; dairy for our drinks,
             baking, and cooking comes from Blackwell Dairy Farm.</p></div>
             <button class="moreinfo"><a href="https://www.theartweare.com"> Dive Into...</a></button>
             <div class="imgblock"><img src="../assets/art.jpg" alt="artweare"> </div>
    </section>

    <section id="restaurant8">
        <div class="textblock"><h2> XPress Chef </h2>
        <p>XPress Chef is a locally owned café that is all about supporting Kamloops mindful eatin
            g and healthy, guilt-free indulgences with dine-in or take out. XPress Chef specializes
             in delicious food featuring fresh ingredients and masterful preparation of carefully 
             crafted sauces, as well as an entire selection of on-site gluten-free baking.</p></div>
             <button class="moreinfo"><a href="https://www.xpress-chef.com">Dive Into...</a></button>
             <div class="imgblock"> <img src="../assets/xpress.jpg" alt="XPress Chef"> </div>
    </section>

    <section id="restaurant9">
        <div class="textblock"><h2> The Noble Pig Brewhouse</h2>
        <p>The marriage between beautiful food and unique beer. Simply put, incredible craft, 
            house made brews paired with meticulously created food with only the best ingredients.
            The Noble Pig Brewhouse is Kamloops’ first and only Microbrewery that combines house 
            made craft brewed beer, brewed by Nick Murphy, and a unique beer fusion and scratch 
            kitchen cuisine lead by our Chef, Jared Summers. It is an unpretentious neighborhood 
            spot in a welcoming, comfortable atmosphere.</p></div>
            <button class="moreinfo"> <a href="https://www.thenoblepig.ca">Dive Into...</a></button>
            <div class="imgblock"><img src="../assets/noblepig.jpg" alt="The Noble Pig Brew"></div>
    </section>

    <footer>
        <div class="footer-links">
            <a href="#" id="back-to-top"> Back to Top </a>
            <a href="index.html">Home</a>
            <a href="subscribe.html">Subscribe</a>
            <a href="upcomingevents.html">Events</a>
        </div>
        <div class="footer-info">
            <p>&copy; 2024 Experience Kamloops. All rights reserved.</p>
            <p class="footer-info__last-updated">Website last updated: <span id="footer-info__last-updated-date"></span></p>
        </div>
    </footer>
</body>
</html>