<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Kamloops</title>
        <link rel="stylesheet" type="text/css" href="../style/homepage.css">
    </head>
<body>
    <header>
        <img src="../assets/kamview1.jpg" id="kamview" alt="Beautiful Kamloops Landscape">
    </header>

    <nav>
        <ul>
            <li><a href="#discover">Discover</a></li>
            <li><a href="#things-to-do">Things to Do</a></li>
            <li><a href="#things-to-eat">Things to Eat</a></li>
            <li><a href="#where-to-stay">Where to Stay</a></li>
            <li><a href="#general-info">General Info</a></li>
        </ul>
    </nav>
    <h2 style="color: #78aba8"> Welcome to Kamloops, BC! </h2>

    <section>
        <div class="image-container">

        </div>
        <div class="content-container">
            <p>Pandas are beloved for their cuddly appearance and gentle demeanor. Native to the mountainous regions of China, these magnificent creatures spend most of their days munching on bamboo. With their distinctive black-and-white fur, pandas are symbols of conservation efforts worldwide.</p>
            <p>Cats, on the other hand, are known for their grace and independence. These agile predators have been companions to humans for thousands of years, revered in ancient cultures and adored in modern households. With their keen senses and playful nature, cats bring joy and comfort to many.</p>
            <p>Despite their differences, both pandas and cats capture the hearts of people everywhere with their unique charm and personalities. Whether it's the panda's endearing clumsiness or the cat's mysterious allure, these animals remind us of the beauty and wonder of the natural world.</p>
        </div>
    </section>
</body>
<footer>
    <a href="index.html">Home</a>
</footer>
</html>


