<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Kamloops</title>

        <!-- Link to the external Stylesheet files -->
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/homepage.css">

        <!-- Link to the external JavaScript files -->
        <script src="../scripts/footer.js" defer></script>
    </head>
    <body>
        <header>
            <h1 id="h11"> Experience Kamloops </h1>

            <nav id="main">
                <ul id="horizontal">
                    <li><a href="index.html">Experience Kamloops</a></li>
                    <li><a href="thingstodo.html">Things to do </a></li>
                    <li><a href="foodiepicks.html">Foodie Picks</a></li>
                    <li><a href="wheretostay.html">Where to Stay</a></li>
                    <li><a href="generalinfo.html">General Info</a></li>
                    <li><a href="itinerary.html">Itinerary</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <p>
                    <strong>Experience Kamloops</strong> is your ultimate guide to discovering the best of Kamloops. Our website offers comprehensive information on a variety of activities, top restaurant recommendations, the best places to stay, and curated itineraries to help you make the most of your visit. Whether you're an outdoor enthusiast, a foodie, or someone seeking a relaxing getaway, <strong>Experience Kamloops</strong> provides all the insights and tips you need for an unforgettable experience in this beautiful city.
                </p>
            </section>

            <section class="half-split margin-bottom-74">
                <div>
                    <h2 class="title-font">Welcome to Kamloops</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-G8-5GEbUP4?si=2PxOUge2zdcmGkuR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div>
                    <p>Kamloops offers a wide range of activities to suit every taste. Begin your visit with a leisurely stroll through <a href="thingstodo.html#river-side-park">Riverside Park</a>, which offers beautiful views along the Thompson River and is perfect for picnics and walks. If you're interested in wildlife, head to the BC Wildlife Park, where you can learn about and observe over 60 species of animals, many of which are native to the region. For outdoor enthusiasts, Kenna Cartwright Park, the largest municipal park in British Columbia, offers numerous trails with breathtaking views of Kamloops. Wine lovers can enjoy a delightful wine-tasting experience at the local vineyards. </p>
                    <p>If you prefer water activities, <a href="thingstodo.html#boating-fishing">Kamloops Lake</a> provides an excellent setting for kayaking, paddleboarding, or simply relaxing by the shore. For a unique historical experience, visit the Kamloops Heritage Railway and take a scenic ride on this historic train. Art lovers should not miss the Kamloops Art Gallery, which showcases contemporary art exhibitions. During winter, a short drive to Sun Peaks Resort offers world-class skiing and snowboarding. For dining, consider trying the fine French cuisine at <a href="foodiepicks.html#restaurant1">Brownstone Restaurant</a> or the delicious breakfast options at Hello Toast. After a day of exploring, unwind at the comfortable <a href="wheretostay.html#place4">Delta Hotels by Marriott Kamloops</a>, which offers excellent amenities and a great location. Whether you're seeking adventure, culture, or relaxation, Kamloops has something for everyone.</p>
                </div>

            </section>

            <section class="half-split">
                <div>
                    <p>Kamloops is bustling with exciting events this season! Don't miss the <strong>Kamloops Blazers</strong> hockey games, where the team is gearing up for an electrifying season with thrilling matches that promise to keep fans on the edge of their seats. Additionally, the <strong>Wildlights</strong> event at the local zoo is a must-see, featuring a dazzling display of lights and festive decorations that create a magical winter wonderland experience for all ages. Whether you're a sports enthusiast or looking for a family-friendly outing, Kamloops has something special in store for everyone!</p>
                </div>
                <div class="events-content-container">
                    <a class="subtitle-font" href="upcomingevents.html">Check out events happening in Kamloops</a>
                    <img class="event-image" src="../assets/sandman.jpg" alt="sandman center"/>
                </div>
            </section>
        </main>

        <footer>
            <div class="footer-links">
                <a href="#" id="back-to-top"> Back to Top </a>
                <a href="index.html">Home</a>
                <a href="subscribe.html">Subscribe</a>
                <a href="upcomingevents.html">Events</a>
            </div>
            <div class="footer-info">
                <p>&copy; 2024 Experience Kamloops. All rights reserved.</p>
                <p class="footer-info__last-updated">Website last updated: <span id="footer-info__last-updated-date"></span></p>
            </div>
        </footer>
    </body>

</html>


