<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Things to do in Kamloops.">
        <meta name="keywords" content="Kamloops, Travel, Thing to do">
        <title>Things to do in Kamloops</title>

        <!-- Link to the external Stylesheet files -->
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/thingstodo.css">

        <!-- Link to the external JavaScript files -->
        <script src="../scripts/footer.js" defer></script>
    </head>
    <body>
        <header>
            <h1 id="h11"> Experience Kamloops </h1>

            <nav id="main">
                <ul id="horizontal">
                    <li><a href="index.html">Experience Kamloops</a></li>
                    <li><a href="thingstodo.html">Things to do </a></li>
                    <li><a href="foodiepicks.html">Foodie Picks</a></li>
                    <li><a href="wheretostay.html">Where to Stay</a></li>
                    <li><a href="generalinfo.html">General Info</a></li>
                    <li><a href="itinerary.html">Itinerary</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="things-to-do">
                <h1 style="color: #78aba8"> Things to do in Kamloops </h1>
                <h2>Kamloops, BC, is a vibrant city with a variety of activities for everyone to enjoy! Whether you're an outdoor enthusiast or someone who enjoys cultural experiences, Kamloops has something for you. Here are some highlights:</h2>

                <div class="highlights-container">
                    <!-- List of the things to do in Kamloops -->
                    <ol>
                        <li><a href="#river-side-park">Explore Riverside Park</a>: This beautiful park is located along the banks of the Thompson River and offers walking paths, picnic areas, a water park, and live music in the summer.</li>
                        <li><a href="#wildlife-park">Visit the BC Wildlife Park</a>: Home to a wide range of native Canadian animals, this park is perfect for a day of family fun and education.</li>
                        <li><a href="#hike-lacdubois">Hike in Lac du Bois Grasslands Protected Area</a>: Enjoy the stunning landscapes and diverse wildlife in this protected area.</li>
                        <li><a href="#boating-fishing">Go Boating or Fishing</a>: With over 100 lakes within an hour's drive, Kamloops is a paradise for boating and fishing enthusiasts.</li>
                        <li><a href="#ski-snowboard">Ski and Snowboard</a>: In the winter, Kamloops offers world-class skiing and snowboarding at nearby resorts.</li>
                        <li><a href="#golfing">Golfing</a>: Kamloops boasts some of Canada's most stunning golf courses, perfect for a round of golf in a beautiful setting.</li>
                        <li><a href="#wine">Wine and Craft Beer Tasting</a>: Discover the local flavors with visits to Kamloops' wineries and craft breweries.</li>
                        <li><a href="#cultural">Attend Cultural Events</a>: Kamloops hosts various cultural events and festivals throughout the year, showcasing the vibrant arts scene.</li>
                    </ol>
                </div>

                <div id="river-side-park" class="content-container">
                    <h3>Explore Riverside Park</h3>
                    <div class="image-text-container">
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/riversidepark.jpg" alt="riverside park" />
                            <figcaption>This is the beach view of Riverside Park</figcaption>
                        </figure>
                        <div class="image-text__text-container">
                            <p class="image-text__text">Riverside Park in Kamloops, BC, is a beloved local gem nestled along the scenic Thompson River. This expansive park is perfect for a relaxing day out with family and friends, offering walking paths that meander through lush greenery, picnic areas for outdoor meals, and a water park that's a hit with kids during the warmer months. In the summer, the park comes alive with live music and community events, making it a hub of activity and joy. Whether you're taking a leisurely stroll, enjoying a concert at the band shell, or simply soaking in the natural beauty, Riverside Park provides a serene escape right in the heart of the city.</p>
                        </div>
                    </div>
                </div>
                <div id="wildlife-park" class="content-container">
                    <h3>Visit the BC Wildlife Park</h3>
                    <div class="image-text-container image-text-container__reverse-mobile">
                        <div class="image-text__text-container">
                            <p class="image-text__text">The BC Wildlife Park in Kamloops is a must-visit destination for anyone interested in the natural world. This expansive park is dedicated to the conservation and education of British Columbia’s native wildlife. Visitors can explore a variety of habitats and meet an array of animals, from majestic cougars and elusive lynx to playful river otters and impressive birds of prey. The park also plays a crucial role in wildlife rehabilitation, caring for injured and orphaned animals with the goal of releasing them back into the wild. Interactive exhibits, educational programs, and the engaging Discovery Centre make it a perfect spot for families and nature enthusiasts to learn and appreciate the rich biodiversity of the region. Whether you're admiring the beauty of a snowy owl up close or enjoying a leisurely train ride through the park, the BC Wildlife Park offers a unique and memorable experience for all ages.</p>
                        </div>

                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/wildlifepark.jpg" alt="wildlife park" />
                            <figcaption>Entrance to the Kamloops Wildlife Park</figcaption>
                        </figure>
                    </div>
                </div>
                <div id="hike-lacdubois" class="content-container">
                    <h3>Hike in Lac du Bois Grasslands Protected Area</h3>
                    <div class="image-text-container">
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/lac.jpg" alt="Lac Du Bois" />
                            <figcaption>Battle Bluff hike in Lac Du Bois Grasslands</figcaption>
                        </figure>

                        <div class="image-text__text-container">
                            <p class="image-text__text">Hiking in Lac du Bois Grasslands Protected Area is an experience like no other. This stunning natural area near Kamloops offers vast, rolling grasslands dotted with wildflowers, unique geological features, and an abundance of wildlife. Whether you're trekking through its sweeping vistas in the summer or exploring its snow-covered trails in the winter, the scenery is always breathtaking. The diverse ecosystems within Lac du Bois make it a haven for nature lovers, offering opportunities to spot everything from deer and coyotes to a variety of bird species. The trails range from easy strolls to more challenging hikes, catering to all levels of outdoor enthusiasts. It’s a perfect spot to connect with nature, enjoy the serene landscapes, and experience the natural beauty of British Columbia up close.</p>
                        </div>
                    </div>
                </div>
                <div id="boating-fishing" class="content-container">
                    <h3>Go Boating or Fishing</h3>
                    <div class="image-text-container image-text-container__reverse-mobile">
                        <div class="image-text__text-container">
                            <p class="image-text__text">Kamloops is a paradise for boating and fishing enthusiasts, offering a wealth of opportunities to explore and enjoy its stunning waters. With over 100 lakes within an hour's drive, the region provides a variety of fishing spots teeming with trout, kokanee, and other species. Shuswap Lake and Kamloops Lake are particularly popular for their abundant fish and scenic beauty.</p>
                            <p class="image-text__text">For boating, the vast and tranquil waters of Kamloops Lake offer perfect conditions for sailing, kayaking, and power boating. You can also explore the Thompson River, which flows through the heart of Kamloops, providing picturesque views and a serene boating experience.</p>
                            <p class="image-text__text">Whether you’re casting a line in a secluded mountain lake or navigating the expansive waters of Kamloops Lake, the region's natural beauty and rich fishing grounds promise a rewarding outdoor adventure. Remember to check for any fishing regulations and necessary permits before heading out to ensure a fun and responsible trip.</p>
                        </div>
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/boating.jpg" alt="Boating" />
                            <figcaption>Boating in the South Thompson River</figcaption>
                        </figure>
                    </div>
                </div>
                <div id="ski-snowboard" class="content-container">
                    <h3>Ski and Snowboard</h3>
                    <div class="image-text-container">
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/sunpeaks.jpg" alt="Skiing in Sunpeaks" />
                            <figcaption>Skiing in Sun Peaks mountain</figcaption>
                        </figure>
                        <div class="image-text__text-container">
                            <p class="image-text__text">Kamloops is a winter wonderland for ski and snowboard enthusiasts! The area is home to world-class resorts such as Sun Peaks Resort, which is the second-largest ski area in Canada. With over 4,000 acres of skiable terrain, there's something for everyone, from beginner slopes to challenging black diamonds. The resort also offers a cozy alpine village with shops, restaurants, and après-ski activities to unwind after a day on the slopes.</p>
                            <p class="image-text__text">Harper Mountain is another popular destination, known for its family-friendly atmosphere and affordable prices. It offers a variety of runs, a terrain park, and night skiing, making it a great spot for a fun-filled day or evening.</p>
                            <p class="image-text__text">For those seeking adventure, the backcountry around Kamloops provides endless opportunities for off-piste skiing and snowboarding. The pristine powder and stunning landscapes are perfect for those looking to explore beyond the groomed trails.</p>
                            <p class="image-text__text">Whether you're a seasoned pro or hitting the slopes for the first time, Kamloops' ski and snowboard scene offers an exhilarating winter experience. Don't forget to enjoy the breathtaking views and fresh mountain air!</p>
                        </div>
                    </div>
                </div>
                <div id="golfing" class="content-container">
                    <h3>Golfing</h3>
                    <div class="image-text-container image-text-container__reverse-mobile">
                        <div class="image-text__text-container">
                            <p class="image-text__text">Kamloops boasts some of the most stunning and challenging golf courses in Canada, making it a paradise for golf enthusiasts. The region's diverse landscapes provide a beautiful backdrop for a variety of golf experiences, from lush, riverside fairways to rolling, desert-like terrain.</p>
                            <p class="image-text__text">One of the standout courses is Tobiano Golf Course, which offers breathtaking views of Kamloops Lake and rugged, natural beauty. This award-winning course is known for its immaculate greens and strategic design, providing a rewarding challenge for golfers of all skill levels.</p>
                            <p class="image-text__text">Another popular destination is the Dunes at Kamloops, a course that winds through natural sand dunes and fescue grasses. It offers a unique and enjoyable golfing experience with its undulating fairways and panoramic vistas.</p>
                            <p class="image-text__text">For those looking to improve their game, the Kamloops Golf & Country Club provides a traditional parkland course with mature trees and well-maintained grounds, along with excellent practice facilities and professional instruction.</p>
                            <p class="image-text__text">With its sunny climate and extended golf season, Kamloops is an ideal destination for golfers seeking both relaxation and a bit of sporting challenge. Whether you're a seasoned pro or just starting out, Kamloops' golf courses offer something for everyone.</p>
                        </div>
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/kamloopsgolf.jpg" alt="Kamloops Golf & Country" />
                            <figcaption>Kamloops Golf & Country Club</figcaption>
                        </figure>
                    </div>
                </div>
                <div id="wine" class="content-container">
                    <h3>Wine and Craft Beer Tasting</h3>
                    <div class="image-text-container">
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/beer.webp" alt="Craft beer" />
                            <figcaption>Craft beer made local at the Noble Pig</figcaption>
                        </figure>
                        <div class="image-text__text-container">
                            <p class="image-text__text">Kamloops is a haven for wine and craft beer enthusiasts, offering a delightful array of local flavors to explore. The region's wineries produce a variety of wines, from bold reds to crisp whites and refreshing rosés, often made from grapes grown in some of the best wine-producing regions. Visitors can enjoy tastings and tours at these wineries, learning about the winemaking process and the unique characteristics of each varietal.
                            <p class="image-text__text">The craft beer scene in Kamloops is equally impressive, with several microbreweries crafting innovative and diverse beers. Bright Eye Brewing, Iron Road Brewing, and Red Collar Brewing Company are just a few of the local favorites, each offering a unique selection of beers and a welcoming atmosphere. Whether you're a fan of light lagers, hoppy IPAs, or rich stouts, Kamloops has something to satisfy every palate.</p>
                            <p class="image-text__text">For those interested in making their own wine or beer, BA Brewmaster and BA Winexpert offer hands-on experiences where you can create your own custom brews. It's a fun and rewarding way to immerse yourself in the local craft beverage culture.</p>
                            <p class="image-text__text">With its vibrant wine and craft beer scene, Kamloops is the perfect destination for anyone looking to indulge in some of the finest local libations. Cheers!</p>
                        </div>
                    </div>
                </div>
                <div id="cultural" class="content-container">
                    <h3>Attend Cultural Events</h3>
                    <div class="image-text-container image-text-container__reverse-mobile">
                        <div class="image-text__text-container">
                            <p class="image-text__text">Kamloops is a vibrant hub of cultural activities, offering a diverse range of events that cater to all interests. One of the highlights is <strong>Culture Days</strong>, a national celebration of arts, culture, and creativity that takes place from September 20 to October 13, 2024. This event features a variety of free, hands-on activities and performances organized by local organizations such as the Kamloops Arts Council, Kamloops Art Gallery, and Kamloops Symphony.
                            <p class="image-text__text">Throughout the year, Kamloops hosts numerous festivals, concerts, art exhibits, and sporting events. For example, the <strong>Western Canada Theatre</strong> regularly presents musicals and plays, including popular shows like Disney's "Beauty and the Beast". The city also hosts outdoor festivals that celebrate the natural beauty and community spirit of Kamloops.</p>
                            <p class="image-text__text">Whether you're interested in visual arts, music, theater, or community events, Kamloops offers a lively cultural scene that is sure to engage and inspire. Keep an eye on local event calendars and newsletters to stay updated on the latest happenings in the city.</p>
                        </div>
                        <figure class="image-text__image-figure">
                            <img class="image-text__image" src="../assets/culture.jpg" alt="culture" />
                            <figcaption>Culture Days event at the Kamloops Art Gallery</figcaption>
                        </figure>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-links">
                <a href="#" id="back-to-top"> Back to Top </a>
                <a href="index.html">Home</a>
                <a href="subscribe.html">Subscribe</a>
                <a href="upcomingevents.html">Events</a>
            </div>
            <div class="footer-info">
                <p>&copy; 2024 Experience Kamloops. All rights reserved.</p>
                <p class="footer-info__last-updated">Website last updated: <span id="footer-info__last-updated-date"></span></p>
            </div>
        </footer>
    </body>
</html>


