<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the best stay points in Kamloops.">
    <meta name="keywords" content="Kamloops hotels, best places to rest in Kamloops">
    <title>Where to Stay - Experience Kamloops</title>
    <link rel="stylesheet" href="../style/staystyles.css">

    <script src="../scripts/footer.js" defer></script>
</head>
    <body>
        <header>
        
                <h1 id="h11"> Experience Kamloops </h1>
                <h1 id="h12"> Breathe and Relax! </h1>
    
                <nav id="main">
                    <ul id="horizontal">
                        <li><a href="index.html">Experience Kamloops</a></li>
                        <li><a href="thingstodo.html">Things to do </a></li>
                        <li><a href="foodiepicks.html">Foodie Picks</a></li>
                        <li><a href="wheretostay.html">Where to Stay</a></li>
                        <li><a href="generalinfo.html">General Info</a></li>
                        <li><a href="itinerary.html">Itinerary</a></li>
                    </ul>
                </nav>

                <nav id="local">
                    <ol>
                        <li><a href="#place1">Wintage by Wyndham Kamloops</a></li>
                        <li><a href="#place2">Best Western Plus Kamloops Hotel</a></li>
                        <li><a href="#place3">Best Western Premier Aberdeen</a></li>
                        <li><a href="#place4">Delta Hotel by Marriott Kamloops</a></li>
                        <li><a href="#place5">DoubleTree by Hilton Hotel Kamlops</a></li>
                        <li><a href="#place6">Sandman Signature Kamloops Hotel</a></li>
                        <li><a href="#place7">The Thompson Hotel</a></li>
                    </ol>
                </nav>
            
        </header>
<!--web table-->
        <table>
            <caption>Hotels Overview</caption>
            <thead>
                <tr>
                    <th rowspan="2">Location</th>
                    <th colspan="4" rowspan="2">Hotels</th>
                 
                </tr>
            
            </thead>
            <tbody>
               
                <tr  >
                    
                    <td rowspan="2">Downtown</td>
                    <td colspan="2">Delta Hotel by Marriott</td>
                    <td colspan="2">Double Tree by Hilton</td>
                   </tr>
               <tr>
                   <td colspan="2">Sandman Signature</td>
                   <td >The Thompson Hotel</td>
                </tr>    
              
    
                
                <tr>
                    <td >Aberdeen</td>
                    <td colspan="2">Wintage by Wyndham</td>
                    <td>Best Western Premier</td>
                   
                  
                </tr>
    
              
                <tr>
                    <td>Sahali</td>
                    <td colspan="4" >Best Western Plus</td>
                  
                </tr> 
           
            </tbody>
        </table>
        <!--list of hotels-->
        <section id="place1">
          <div class="textblock"><h2> Wintage by Wyndham Kamloops </h2>
          <p>The Wingate by Wyndham Kamloops features everything you need for 
            an efficient stay&mdash;from free hot breakfast and onsite laundry facilities
             to free Wi-Fi and a business center. Plus, we&apos;ve got extras to make 
             your visit memorable, like a relaxing indoor pool and hot tub, and 
             well-equipped fitness center. We also offer pet-friendly rooms for 
             a small fee and free underground parking with electric car chargers.
              Our convenience store is stocked with on-the-go essentials. Each 
              non-smoking room features a flat-screen HDTV, work space, microwave,
               mini-refrigerator, coffee and tea maker, safe, and iron and ironing board.<br/><br/>
               <button class="moreinfo" title="Go to the website"><a href="https://www.wyndhamhotels.com/en-ca/wingate/kamloops-british-
                columbia/wingate-by-wyndham-kamloops/overview" target="_blank"> Dive Into...</a></button></p></div>
             <div class="imgblock"><img src="../assets/wintage.jpg" alt="Wintage by Wyndham"></div>
        </section>
    
        <section id="place2" >
            <div class="textblock"><h2> Best Western Plus Kamloops Hotel </h2>
            <p>
                The Best Western Plus Kamloops is an award-winning, eco-friendly hotel, 
                and a brand you can trust. Known for our friendly and knowledgeable customer 
                service. Whether you&#39;re travelling for adventure or business, we offer a 
                comfortable and convenient place to stay in Kamloops.<br/><br/>
                <button class="moreinfo" title="Go to the website"><a href="https://www.bestwestern.com/en_US/book/hotels-in-kamloops/best-
                    western-plus-kamloops-hotel/propertyCode.62122.html" target="_blank"> Dive Into...</a></button></p></div>
                  <div class="imgblock"><img src="../assets/bestwesternplus.jpg" alt="Best Westen Plus "></div>
        </section>
    
        <section id="placet3">
            <div class="textblock"> <h2>Best Western Premier Aberdeen</h2>
          <p>With 78 well-furnished rooms, guests can expect a memorably rewarding stay defined 
            by the highest degree of hospitality, quality, first-rate amenities, superior 
            accommodations, and exceptional service. Each room is equipped with free wireless 
            high-speed internet, microwave, refrigerator, coffee/tea maker, in-room safe, spacious work desk and more.<br/><br/>
            <button class="moreinfo" title="Go to the website"><a href="https://www.bestwestern.com/en_US/book/hotels-in-kamloops/best-western-
                premier-aberdeen-kamloops/propertyCode.62140.html" target="_blank"> Dive Into...</a></button></p></div>
            <div class="imgblock"> <img src="../assets/bestwesternpremier.jpg" alt="Best Western Premmier">         
        </section>
    
        <section id="place4">
            <div class="textblock"><h2>Delta Hotel by Marriott Kamloops</h2>
         <p>Experience the best in streamlined travel at Delta Hotels Kamloops. Our recently renovated downtown
             hotel has been thoughtfully designed with the essential needs of a frequent traveler in mind. Our 
             spacious hotel rooms and suites offer premium bathrooms, plush bedding, inspiring workspaces and 
             free Wi-Fi. For relaxation our hotel offers a state-of-the-art fitness center featuring a 24-hour 
             gym and a heated rooftop pool with cabana seating. After a busy day in downtown Kamloops, relax 
             in our restaurant and bar with freshly-prepared dishes inspired from all corners of Canada and 
             indulge in a drink from our wine library or a craft beer. We look forward to welcoming you to Delta Hotel Kamloops.<br/><br/>
             <button class="moreinfo" title="Go to the website"><a href="https://www.marriott.com/en-us/hotels/ykade-delta-hotels-kamloops/overview/" target="_blank"> Dive Into...</a></button></p></div>
            <div class="imgblock"><img src="../assets/delta.jpg" alt="Delta Hotel"> </div>
        </section>
    
        <section id="place5">
            <div class="textblock"><h2>DoubleTree by Hilton Hotel Kamlops</h2>
            <p>Located at the heart of downtown Kamloops; a complimentary signature cookie welcomes your arrival! 
                Perks include a 24-hours fitness center with Peloton Bike, outdoor swimming pool and hot tub, 
                free rental bikes available, electric vehicle charging station, over 4,000 square feet of meeting 
                space and full-service restaurant.<br/><br/>
                <button class="moreinfo" title="Go to the website"><a href="https://www.hilton.com/en/hotels/kamlodt-doubletree-kamloops/" target="_blank"> Dive Into...</a></button></p></div>
                <div class="imgblock"><img src="../assets/doubletree.jpg" alt="DoubleTree by HIlton"> </div>
        </section>
    
        <section id="place6">
            <div class="textblock"><h2> Sandman Signature Kamloops Hotel</h2>
            <p>Stylishly designed with you in mind, Sandman Signature Kamloops offers comfort 
                with 202 premium rooms, including 100 suites. Perfectly located in the heart of 
                downtown and right across the street from the Sandman Centre, home of the Kamloops 
                Blazers of the WHL. Every design element and amenity ensures that you not only feel 
                looked after but that you enjoy yourself&mdash;whether you&apos;re here for business or leisure. 
                With free high-speed WiFi throughout, stay connected anywhere in the hotel. For some 
                downtime, lounge by the indoor pool, soak in the hot tub or reach your daily goals in 
                the modern fitness centre.<br/><br/>
                <button class="moreinfo" title="Go to the website"><a href="https://www.sandmanhotels.com/signature-kamloops/
                    hot-deals/black-friday-sale?gad_source=1&gbraid=0AAAAADmWMZhOnxbZKz-cxwrGD7dz34fJb&gclid=EAIaIQobChMI
                    _J6T-8v5iQMVBS-tBh1aFQCNEAAYASAAEgIHd_D_BwE" target="_blank"> Dive Into...</a></button></p></div>
                 <div class="imgblock"><img src="../assets/sandmansignature.jpg" alt="Sandman Signature Kamloops Hotel"> </div>
        </section>


        <section id="place7">
            <div class="textblock"><h2> The Thompson Hotel</h2>
            <p>The Thompson Hotel is a locally owned and operated property located in the heart of downtown 
                Kamloops. Offering unique amenities that are fun for all ages with an indoor pool, games room, 
                movie theatre and a hot breakfast in their lovely bistro. With easy access to breweries and 
                restaurants just steps from their front door.<br/><br/>
                <button class="moreinfo" title="Go to the website"><a href="https://www.guestreservations.com/?_gl=1*5h11da*_up*MQ..*_gs*MQ..
                    &gclid=EAIaIQobChMIvK2wksz5iQMVFyOtBh1vVSG2EAAYASAAEgLJe_D_BwE&gbraid=0AAAAADiMQMYmrXIbJNrSTYp1LnWyoQZkv" target="_blank"> Dive Into...</a></button></p></div>
                 <div class="imgblock"><img src="../assets/thompson.jpg" alt="The Thompson Hotel"> </div>
        </section>

        <footer>
            <div class="footer-links">
                <a href="#" id="back-to-top"> Back to Top </a>
                <a href="index.html">Home</a>
                <a href="subscribe.html">Subscribe</a>
                <a href="upcomingevents.html">Events</a>
            </div>
            <div class="footer-info">
                <p>&copy; 2024 Experience Kamloops. All rights reserved.</p>
                <p class="footer-info__last-updated">Website last updated: <span id="footer-info__last-updated-date"></span></p>
            </div>
        </footer>
    </body>
    </html>