
* {
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-repeat:  no-repeat;
    background-position:  centre centre;
    background-size: 100% auto;
    background-image: url('../assets/food.jpg');
  
    background-color: rgba(0, 0, 0, 0.2);
    color: #711c37;
  
}

header {
    position: relative;
  
    color:white;
    text-align: center;
    padding: 20px;
}
#h11{
    position:absolute;
    top: 5px;
    left:8px;
    font-size: 2em;
    font-weight: bold;
    z-index:20;
}
#h12 {
    position: absolute;
    top:510%;
    left:30%;
    font-size: 2.5em;
    font-weight: bold;
    z-index:20;
    color: white

}

nav#main {
    position: absolute;
   
    top: 42px;
    left: 150px;
    width: 100%;
    text-align: center;
    background-color: rgba(2, 38, 34, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* .image-container {
    display: flex;            
    justify-content: flex-end; 
    gap: 20px;                 
    padding: 20px;          
} */


/* .image-block {
    position: relative;      
    overflow: hidden;         
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
} */


/* .image-block img {
    width: 600px;            
    height: 200px;            
    object-fit: cover;        
    border-radius: 8px;     
    transition: opacity 0.3s ease, transform 0.3s ease;  
    margin-top: 550%;
} */

/* .image-block:hover img {
    opacity: 0.8;             
    transform: scale(1.05);  
} */
nav#local {
    float: left;
    margin-top: 50%;
   width: 100%;
  
   background-color: rgb(239, 228, 215, 0.7);
   margin-left: 0;
   box-shadow: inset;
   text-align: center;
    color: #711c37;
}
nav#local ol {
    
    list-style-type: disc;
    list-style-position: outside;
    padding: 0;
    display: flex;
   
   
    border-radius: 10px;
  
    
}
nav#local ol li {
    margin-bottom: 20px;
    margin-left: 15px;
}
nav#local ol li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}
nav#local ol li a:hover {
 color: rgb(50, 91, 39);
}
#horizontal {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#horizontal li {
    display: inline;
}

#horizontal li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

#horizontal li a:hover {
    text-decoration: underline;
   
}


section#restaurant1 {
margin-top: 120vh;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 1vh 0;
    border-bottom: 1px solid #ddd;
}
.textblock {
    width:50%;
}
.textblock h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
.textblock p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.moreinfo {    
    padding: 12px 24px;          
    font-size: 1em;            
    font-weight: bold;           
    background-color: #c6757e;   
    color: white;               
    border: none;               
    border-radius: 5px;        
    transition: background-color 0.3s ease; 
    align-self: center
   
    
}
.moreinfo a {
    text-decoration: none;
}

.moreinfo:hover {
    background-color: #9b3d5f;   
}
.imgblock {
    width: 45%;
}

imgblock img {
    width: 100%;
    height:auto;
    border-radius: 10px;
}
.imgblock img:hover {
    opacity: 0.6; 
}

section:nth-child(even) {
    flex-direction: row-reverse;
}


section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1em;
    line-height: 1.5;
    width: 80%;
}

section img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

div#back {
    text-align: center;
}

footer {
    text-align: center;
    background-color: antiquewhite;
    border-bottom: 4px solid #711c37;
    border-left: 4px solid #711c37;
}