body{
    background-color: rgba(0, 0, 0, 0.2);
}
header {
    background-image: url('../assets/kamview1.jpg');
}

section {
    margin: 24px 48px;
}

.half-split {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.half-split div {
    flex: 1;
}

.title-font {
    font-size: 58px;
    line-height: 64px;
}

p, h2 {
    margin-top: 8px;
}

.event-image {
    width: 350px;
}

.events-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-bottom-74 {
    margin-bottom: 74px;
}

.events-content-container a {
    font-size: 32px;
    color: #1E90FF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.events-content-container a:hover {
    color: #FF4500;
}