
* {
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url('kamloops1.jpg');
    background-repeat:  no-repeat;
    background-position:  centre centre;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.2);
    color: #711c37;
  }

header {
    position: relative;
    color:white;
    text-align: center;
    padding: 20px;
}
#h11{
    position:absolute;
    top: 5px;
    left:8px;
    font-size: 2em;
    font-weight: bold;
    z-index:20;
}
#h12 {
    position: absolute;
    top:510%;
    left:65%;
    font-size: 2.5em;
    font-weight: bold;
    z-index:20;
    color: rgb(11, 58, 39)

}

nav#main {
    position: absolute;
    top: 45px;
    left: 150px;
    width: 100%;
    text-align: center;
    background-color: rgba(2, 38, 34, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

nav#local {
    margin-top: 25%;
   width: 400px;
   position: absolute;
   background-color: rgb(239, 228, 215, 0.7);
   padding:5px;
   box-shadow: inset;
   color: #711c37;
}
nav#local ol {
    
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    border-radius: 10px;
    
}
nav#local ol li {
    margin-bottom: 20px;
}
nav#local ol li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
nav#local ol li a:hover {
    text-decoration: underline;
}
#horizontal {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#horizontal li {
    display: inline;
}

#horizontal li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

#horizontal li a:hover {
    text-decoration: underline;
   
}
section#stage1 {
    margin-top: 60vh;
    }

section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 1vh 0;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}
section:nth-child(even) {
    flex-direction: row-reverse;
}
.textblock {
    width:100%;
    text-align: left;
}
.textblock h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
.textblock p {
    font-size: 1.1em;
    line-height: 1.5;
}





section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1em;
    line-height: 1.5;
    width: 80%;
}

section:nth-child(odd) .textblock {
    text-align: left; 
}

section:nth-child(even) .textblock {
    text-align: right; 
}

div#back {
    text-align: center;
}

footer {
    text-align: center;
    background-color: antiquewhite;
}